.legalNotice {
    h2 {
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    ul {
        padding-left: 0;

        li {
            list-style: none;
            padding-left: 0;
            margin-left: 0;
            margin-bottom: 0;
        }
    }
}